*{
    --blue : #0071bc;
}
.off{
    display: none;
}
.indented-container {
    padding: 0 4em;
}
.banner-text>*{
    margin: 0;
    padding: 25px;
    font-size: 5rem;
}
.filter{
    display: flex;
    background: rgb(228, 228, 228);
}
.filter> *{
    margin: 20px;
    font-size: 1.5rem;
    align-items: center;
}
#closeBtn{
    background: lightgreen;
    height: 40px;
    border: none;
    font-weight: 600;
    box-shadow: 0 0 2px 0px;
}
.filter select{
    background: lightblue;
    line-height: inherit;
    border: none;
    padding: 2px;
}

.top-links-bar .plain-links A:link{
    font-size: 1.3rem;
}

.box-container{
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 280px;
    height: 200px;
    color: skyblue;
    font-size: 2.5rem;
    margin: 15px auto;
    display: grid;
    place-items: center;
    box-shadow: 0 0 5px 2px royalblue;
    /* color: white; */
    border-radius: 5px;
   

}
.box img{
    width: 75%;
}
/* .box h3{
    font-size: 2rem;
    color: black;

} */
.mobile{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/01.jpg) ;
    background-size: cover;
}
.travel{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/02.jpg) ;
    background-size: cover;
}
.insurance{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/03.jpg) ;
    background-size: cover;
}
.rental{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/04.png) ;
    background-size: cover;
}
.kitchen{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/05.png) ;
    background-size: cover;
}
.beauty{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/06.png) ;
    background-size: cover
}
.toy{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/07.png) ;
    background-size: cover;
}
.clothe{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/08.jpg) ;
    background-size: cover;
}
.health{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/09.jpg) ;
    background-size: cover;
}
.book{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/10.jpg) ;
    background-size: cover;
}
.dining{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/11.png) ;
    background-size: cover;
}
.babies{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/12.png) ;
    background-size: cover;
}
.sports{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/13.png) ;
    background-size: cover;
}

.country{
    display: inline;
}

.prev, .next{
    display: inline;
    z-index: 9;
    position: absolute;
    top: 40%;
    color: white;
    font-size: 5rem;
    background: #00000073;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.prev{
   left: 0; 
}
.next{
right: 0;
}

/* .item {
  width: 50px;
} */
.carosoul-container .prod-box{
    width: 50%;
    margin: 20px;
}
.brand-logo{
    width: 100px;
    height: 100px;
    margin: 10px auto;
    object-fit: contain;
}
footer{
    background: var(--blue);
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}
footer h2{
    color: white;
}
footer a:link{
    color: white;
    display: block;
}
.footer-links a{
    margin: 10px;
    font-size: 1.5rem;
}
.footer-list{
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    margin: 10px 20px;
}
.footer-list li{
    margin: 10px;
    font-size: 1.5rem;
}

@media screen and (max-width:500px) {
    .filter{
        flex-direction: column;
    }
    .banner-text>* {
        margin: 0;
        padding: 5px;
        font-size: 2rem;
    }
}

/* image links */
/* https://i1.wp.com/bjak.my/blog/wp-content/uploads/2021/10/A2.jpeg?resize=854%2C540&ssl=1
https://s.yimg.com/ny/api/res/1.2/V0j23eHwbSaRuDbPQYtVPA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTQyNQ--/https://s.yimg.com/uu/api/res/1.2/gIyTnWza517bCWfrdM.wPw--~B/aD00OTg7dz03NTA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/insidermonkey.com/c19079d6005411ab14b7b6962c1b4455
https://thumbs.dreamstime.com/b/pay-as-you-go-payg-written-notebook-business-concept-pay-as-you-go-payg-written-notebook-business-concept-200652046.jpg
https://ceblog.s3.amazonaws.com/wp-content/uploads/2012/05/20172622/ce-travel.jpg
https://npr.brightspotcdn.com/dims4/default/abec1bb/2147483647/strip/true/crop/867x534+12+0/resize/880x542!/quality/90/?url=http%3A%2F%2Fnpr-brightspot.s3.amazonaws.com%2F03%2F9c%2F3a2e47fc412a857e60875267fc30%2Fclothing-istock-vectorikart-2021-0730.jpg
https://www.moneycrashers.com/wp-content/uploads/2018/11/diy-do-it-yourself-wooden-block-letters.jpg
https://isotechgh.com/wp-content/uploads/2020/02/Broadband-Internet.jpg */